In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("Train.csv")

In [4]:
df.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-10-02 09:00:00,None,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545
1,2012-10-02 10:00:00,None,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516
2,2012-10-02 11:00:00,None,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767
3,2012-10-02 12:00:00,None,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026
4,2012-10-02 13:00:00,None,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918

In [5]:
df['weather_description'].unique()

array(['scattered clouds', 'broken clouds', 'overcast clouds',
       'sky is clear', 'few clouds', 'light rain',
       'light intensity drizzle', 'mist', 'haze', 'fog',
       'proximity shower rain', 'drizzle', 'moderate rain',
       'heavy intensity rain', 'proximity thunderstorm',
       'thunderstorm with light rain', 'proximity thunderstorm with rain',
       'heavy snow', 'heavy intensity drizzle', 'snow',
       'thunderstorm with heavy rain', 'freezing rain', 'shower snow',
       'light rain and snow', 'light intensity shower rain', 'SQUALLS',
       'thunderstorm with rain', 'proximity thunderstorm with drizzle',
       'thunderstorm', 'Sky is Clear', 'very heavy rain',
       'thunderstorm with light drizzle', 'light snow',
       'thunderstorm with drizzle', 'smoke', 'shower drizzle',
       'light shower snow', 'sleet'], dtype=object)

In [6]:
df['date_time']

0        2012-10-02 09:00:00
1        2012-10-02 10:00:00
2        2012-10-02 11:00:00
3        2012-10-02 12:00:00
4        2012-10-02 13:00:00
5        2012-10-02 14:00:00
6        2012-10-02 15:00:00
7        2012-10-02 16:00:00
8        2012-10-02 17:00:00
9        2012-10-02 18:00:00
10       2012-10-02 19:00:00
11       2012-10-02 20:00:00
12       2012-10-02 21:00:00
13       2012-10-02 22:00:00
14       2012-10-02 23:00:00
15       2012-10-03 00:00:00
16       2012-10-03 01:00:00
17       2012-10-03 02:00:00
18       2012-10-03 03:00:00
19       2012-10-03 04:00:00
20       2012-10-03 05:00:00
21       2012-10-03 06:00:00
22       2012-10-03 08:00:00
23       2012-10-03 09:00:00
24       2012-10-03 12:00:00
25       2012-10-03 13:00:00
26       2012-10-03 14:00:00
27       2012-10-03 15:00:00
28       2012-10-03 16:00:00
29       2012-10-03 18:00:00
                ...
33720    2017-05-17 10:00:00
33721    2017-05-17 10:00:00
33722    2017-05-17 11:00:00
33723    2017-05-17 12:00:00
33724    2017-05-17 12:00:00
33725    2017-05-17 13:00:00
33726    2017-05-17 13:00:00
33727    2017-05-17 14:00:00
33728    2017-05-17 15:00:00
33729    2017-05-17 16:00:00
33730    2017-05-17 16:00:00
33731    2017-05-17 17:00:00
33732    2017-05-17 17:00:00
33733    2017-05-17 18:00:00
33734    2017-05-17 18:00:00
33735    2017-05-17 18:00:00
33736    2017-05-17 18:00:00
33737    2017-05-17 19:00:00
33738    2017-05-17 19:00:00
33739    2017-05-17 19:00:00
33740    2017-05-17 20:00:00
33741    2017-05-17 20:00:00
33742    2017-05-17 20:00:00
33743    2017-05-17 21:00:00
33744    2017-05-17 21:00:00
33745    2017-05-17 21:00:00
33746    2017-05-17 22:00:00
33747    2017-05-17 22:00:00
33748    2017-05-17 23:00:00
33749    2017-05-17 23:00:00
Name: date_time, Length: 33750, dtype: object

In [7]:
type(df['date_time'][0])

str

In [8]:
import datetime as dt

In [9]:
s1=df['date_time'][0]

In [10]:
s1

'2012-10-02 09:00:00'

In [11]:
f='%Y-%m-%d %H:%M:%S'

In [13]:
d1=dt.datetime.strptime(s1,f)

In [14]:
d1

datetime.datetime(2012, 10, 2, 9, 0)

In [15]:
d1.year

2012

In [16]:
d1.month

10

In [18]:
d1.day

2

In [19]:
d1.hour

9

In [20]:
d1.minute

0

In [21]:
d1.second

0

In [25]:
type(df['is_holiday'][0])

str

In [26]:
df['is_holiday']

0        None
1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None
10       None
11       None
12       None
13       None
14       None
15       None
16       None
17       None
18       None
19       None
20       None
21       None
22       None
23       None
24       None
25       None
26       None
27       None
28       None
29       None
         ...
33720    None
33721    None
33722    None
33723    None
33724    None
33725    None
33726    None
33727    None
33728    None
33729    None
33730    None
33731    None
33732    None
33733    None
33734    None
33735    None
33736    None
33737    None
33738    None
33739    None
33740    None
33741    None
33742    None
33743    None
33744    None
33745    None
33746    None
33747    None
33748    None
33749    None
Name: is_holiday, Length: 33750, dtype: object

In [27]:
df.dtypes

date_time               object
is_holiday              object
air_pollution_index      int64
humidity                 int64
wind_speed               int64
wind_direction           int64
visibility_in_miles      int64
dew_point                int64
temperature            float64
rain_p_h               float64
snow_p_h               float64
clouds_all               int64
weather_type            object
weather_description     object
traffic_volume           int64
dtype: object

In [28]:
d2=df

In [29]:
d2.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-10-02 09:00:00,None,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545
1,2012-10-02 10:00:00,None,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516
2,2012-10-02 11:00:00,None,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767
3,2012-10-02 12:00:00,None,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026
4,2012-10-02 13:00:00,None,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918

In [30]:
d2=d2['is_holiday'].astype('category')

In [31]:
d2.dtypes

CategoricalDtype(categories=['Christmas Day', 'Columbus Day', 'Independence Day',
                  'Labor Day', 'Martin Luther King Jr Day', 'Memorial Day',
                  'New Years Day', 'None', 'State Fair', 'Thanksgiving Day',
                  'Veterans Day', 'Washingtons Birthday'],
                 ordered=False)

In [33]:
d2.cat.codes

0        7
1        7
2        7
3        7
4        7
5        7
6        7
7        7
8        7
9        7
10       7
11       7
12       7
13       7
14       7
15       7
16       7
17       7
18       7
19       7
20       7
21       7
22       7
23       7
24       7
25       7
26       7
27       7
28       7
29       7
        ..
33720    7
33721    7
33722    7
33723    7
33724    7
33725    7
33726    7
33727    7
33728    7
33729    7
33730    7
33731    7
33732    7
33733    7
33734    7
33735    7
33736    7
33737    7
33738    7
33739    7
33740    7
33741    7
33742    7
33743    7
33744    7
33745    7
33746    7
33747    7
33748    7
33749    7
Length: 33750, dtype: int8

In [34]:
d2

0        None
1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None
10       None
11       None
12       None
13       None
14       None
15       None
16       None
17       None
18       None
19       None
20       None
21       None
22       None
23       None
24       None
25       None
26       None
27       None
28       None
29       None
         ...
33720    None
33721    None
33722    None
33723    None
33724    None
33725    None
33726    None
33727    None
33728    None
33729    None
33730    None
33731    None
33732    None
33733    None
33734    None
33735    None
33736    None
33737    None
33738    None
33739    None
33740    None
33741    None
33742    None
33743    None
33744    None
33745    None
33746    None
33747    None
33748    None
33749    None
Name: is_holiday, Length: 33750, dtype: category
Categories (12, object): [Christmas Day, Columbus Day, Independence Day, Labor Day, ..., State Fair, Thanksgiving Day, Veterans Day, Washingtons Birthday]

In [36]:
rows=d2.loc[d2=='None']

In [40]:
d2.unique()

[None, Columbus Day, Veterans Day, Thanksgiving Day, Christmas Day, ..., Memorial Day, Independence Day, State Fair, Labor Day, Martin Luther King Jr Day]
Length: 12
Categories (12, object): [None, Columbus Day, Veterans Day, Thanksgiving Day, ..., Independence Day, State Fair, Labor Day, Martin Luther King Jr Day]

In [42]:
df.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-10-02 09:00:00,None,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545
1,2012-10-02 10:00:00,None,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516
2,2012-10-02 11:00:00,None,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767
3,2012-10-02 12:00:00,None,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026
4,2012-10-02 13:00:00,None,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918

In [43]:
df['is_holiday']=df['is_holiday'].map(lambda s:0 if s=='None' else 1)

In [45]:
df['is_holiday'].unique()

array([0, 1])

In [46]:
df.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-10-02 09:00:00,0,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545
1,2012-10-02 10:00:00,0,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516
2,2012-10-02 11:00:00,0,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767
3,2012-10-02 12:00:00,0,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026
4,2012-10-02 13:00:00,0,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918

In [47]:
df['weather_type'].unique()

array(['Clouds', 'Clear', 'Rain', 'Drizzle', 'Mist', 'Haze', 'Fog',
       'Thunderstorm', 'Snow', 'Squall', 'Smoke'], dtype=object)

In [48]:
len(df['weather_description'].unique())

38

In [49]:
df.values

array([['2012-10-02 09:00:00', 0, 121, ..., 'Clouds', 'scattered clouds',
        5545],
       ['2012-10-02 10:00:00', 0, 178, ..., 'Clouds', 'broken clouds',
        4516],
       ['2012-10-02 11:00:00', 0, 113, ..., 'Clouds', 'overcast clouds',
        4767],
       ...,
       ['2017-05-17 22:00:00', 0, 138, ..., 'Mist', 'mist', 2194],
       ['2017-05-17 23:00:00', 0, 229, ..., 'Rain',
        'heavy intensity rain', 1328],
       ['2017-05-17 23:00:00', 0, 140, ..., 'Mist', 'mist', 1328]],
      dtype=object)